<html>
<head>
    <title>Network Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <div class="col-12 text-center pagination-centered">
        <p>Network Controller V1</p>
        <div class="col-8 offset-2 center-block">
            <p class="text-left">Options:</p>
            <form method="POST" id="form-config" action="{% url 'submit' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="speedInput">Speed</label>
                    </div>
                    <select class="custom-select" id="speedInput" name="speedInput">
                        <option selected>Choose...</option>
                        <option value="10">10 Mbps</option>
                        <option value="100">100 Mbps</option>
                        <option value="1000">1000 Mbps</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="duplexInput">Duplex</label>
                    </div>
                    <select class="custom-select" id="duplexInput" name="duplexInput">
                        <option selected>Choose...</option>
                        <option value="half">Half</option>
                        <option value="full">Full</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="autonegInput">Auto-Neg</label>
                    </div>
                    <select class="custom-select" id="autonegInput" name="autonegInput">
                        <option selected>Choose...</option>
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            <p class="text-left">*Notes:<br>
            1. When you set speed/duplex, autoneg will be set to off automatically!<br>
            2. If you set an autoneg option, speed and duplex will be ignored!</p>
            <br>
            <p>Pull The Plug</p>
            <p><a href="{% url 'kill' %}"><img class="img-fluid" src="{% static 'images/Osuna.png' %}"></a></p>
            <p>!!! WARNING: THIS WILL ISOLATE YOUR COMPUTER FOR 5 MINUTES !!!</p>
        </div>
    </div>
</body>
