<html>
<head>
    <title>Network Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <div class="row text_center">
        <div class="col">
            <p>Success to ping the server</p>
        </div>
        <div class="col">
            <a href="{% url 'home' %}" class="btn btn-primary">Back to home</a>
        </div>
    </div>
</body>